<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ComicBookStore">
<head>
    <title>ComicBookStore</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body >
    
        
        <header class="flex-col flex-stretch" >
            <h1 class="head" ui-sref="home">The Best Comic Book Store</h1>

            <nav >
                <a ui-sref="">New Releases</a> |
                <a ui-sref="">Best Sellers</a> |
                <a ui-sref="">Kid Friendly</a>
            </nav>
        </header>

        <ui-view></ui-view>

        <footer>
            @*this is the footer*@
        </footer>
   

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


</body>
</html>
